---
import { buttonVariants } from '@repo/ui/components/button';
import '@repo/ui/globals.css';
import { Image } from 'astro:assets';
import GithubIcon from '~icons/mdi/github';
import { SITE_CONFIG } from '../site.config';
import BaseHead from './BaseHead.astro';
import logoImage from './logo.jpg';
import ModeToggle from './ModeToggle.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_CONFIG.title, description = SITE_CONFIG.description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {title} {description} />
	</head>
	<body>
		<header
			class="border-border/40 bg-background/95 supports-[backdrop-filter]:bg-background/60 sticky top-0 z-50 border-b shadow-sm backdrop-blur"
		>
			<div class="flex h-14 w-full items-center justify-between p-4">
				<a class="flex items-center gap-2" href="/">
					<Image
						src={logoImage}
						alt=`YaleApps ${SITE_CONFIG.subdomain} Logo`
						height={64}
						width={64}
						class="h-8 w-8 rounded-lg"
					/>
					<span class="text-lg font-bold">yaleapps / {SITE_CONFIG.subdomain}</span>
				</a>
				<div class="flex gap-2" transition:name="icons">
					<a
						class={buttonVariants({ variant: 'ghost', size: 'icon' })}
						href={SITE_CONFIG.githubUrl}
						target="_blank"
						rel="noreferrer"
					>
						<GithubIcon class="h-6 w-6" aria-hidden="true" />
					</a>
					<ModeToggle />
				</div>
			</div>
		</header>
		<main class="flex flex-1 justify-center p-4">
			<slot />
		</main>
	</body>
</html>
